<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">About Us</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="//github.com/aw-stacks/aw-stack-2-materialui" target="_blank">Github Home Page</a></li>
        <li><a href="//github.com/aw-stacks/aw-stack-2-materialui" target="_blank">About aw-stack-2-material</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Developer Connections</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="//github.com/aw-stacks/aw-stack-2-materialui/issues" target="_blank">Report Issues</a></li>
        <li><a href="//github.com/aw-stacks/aw-stack-2-materialui/pulls" target="_blank">Open Pull Requests</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Project Progress</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="//github.com/aw-stacks/aw-stack-2-materialui/releases" target="_blank">Release Page</a></li>
        <li><a href="//github.com/aw-stacks/aw-stack-2-materialui/milestones" target="_blank">Milestones</a></li>
      </ul>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">AW-Stack-2-Material Boilerplate</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="https://raw.githubusercontent.com/aw-stacks/aw-stack-2-materialui/master/LICENSE" target="_blank">MIT License</a></li>
    </ul>
  </div>

</footer>
